<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.pi3.petshop.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <security-constraint>    
  	<display-name>Example Security Constraint</display-name>    
 	<web-resource-collection>    
    	<web-resource-name>Protected Area</web-resource-name>    
     	<url-pattern>/index.html</url-pattern>   
     	<http-method>GET</http-method>    
     	<http-method>POST</http-method>  
  		</web-resource-collection>
  </security-constraint> 
</web-app>
